<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/" class="white-text">Tech Blog</a>
            </h1>
            <nav>
                <a href="/" class="white-text">Home</a>
                {{#if loggedIn}}
                <a href="/dashboard" class="btn-no-style white-text">Dashboard</a>
                <button id="logout" class="btn-no-style white-text">Logout</button>
                {{else}}
                <a href="/login" class="white-text">Login</a>
                {{/if}}
            </nav>
        </header>

        <main>
            {{{ body }}}
        </main>

        <footer>
            Thanks for visiting!
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>