    <a href="/dashboard/newpost">Create a new post</a>
{{#if posts.length}}
<section>
    <h2>Your Posts</h2>

    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <span>Created on {{format_date created_at}}</span>
            </br>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}
